<div class="container-fluid no-padding">
  <div class="row enqtop no-margin">
    <div class="col-xs-12 col-md-6 enqleft no-padding row">
      <div class="col-6 col-md-6"><b>Ph_NO:</b>0484-2205488</div>
      <div class="col-6 col-md-6"><b>EMail:</b>pinnaclecochin@gmail.com</div>
    </div>
    <div class="enqright col-xs-12 col-md-6 row">
      <div class="col-6 catCont">
      </div>
      <div class="col-6">
      <button class="btn enqbtn ">Enquire Now</button>
      </div>
    </div>
  </div>
  <div #fixer class="mainheader" [ngClass]="{'fixed': fixeing}">
   <div class="col-xs-4 col-md-3 imgCont">
     <img class="imgtag" src="../../assets/images/logo.png">
   </div>
   <div class="col-xs-8 col-md-9">
      <nav class="bigMenu" >
          <div class="navCont" *ngFor="let item of navigator">
           <a class="anchorCont" [routerLink]="[item.path]" [ngClass]="{'anchorAct': item.active}">{{item.name}}<i *ngIf="item.isDropDown" class="dropsymbol"></i></a>
           <div *ngIf="item.isDropDown" class="dropDown">
           <a *ngFor="let product of productsList" [routerLink]="['products/',product.redirecTo]">{{product.name}}</a>
           </div>
          </div>
         
      </nav>
      <div  class="submenu" >
        <!--   
          
              <a *ngFor="let item of navigator" (click)="NavigateTo(item.path)"[ngClass]="{'anchorAct': item.active}">{{item.name}}</a>
         -->
         <span (click)="OpenMenu()">&#9776;</span>
         <nav class="sideNav" [ngClass]="{'opener':open}">
          <div class="navCont" *ngFor="let item of navigator">
              <a class="anchorCont" [routerLink]="[item.path]" [ngClass]="{'anchorAct': item.active}">{{item.name}}<i *ngIf="item.isDropDown" class="dropsymbol" (click)="OpenDropdoen()"></i></a>
              <div *ngIf="item.isDropDown&&openSub" class="mindropDown">
                <a *ngFor="let product of productsList" [routerLink]="['products/'+product.redirecTo]">{{product.name}}</a>
              </div>
             </div>
            </nav>
      </div>
     
   </div>
  </div>

</div>