@import "../../themes.scss";

:host{
  display: block;
  position: relative;
  width:100%;
}


.enqbtn{
  color: white;
  background-color: $theme;
  margin-left: 10px;
  padding: 1em 2em;
  font-size:15px;
  border-radius: 1px;
}

  .glyphicon{
    color:$theme;
    padding:0 .5em;
  }
  .enqright{
    text-align: right;
  }
  .enqleft{
      margin-top: .5em;
      .col-6{
        text-align: center;
      }
  }
.mainheader{
  position: relative;
  padding: 1em 5em;
  display: flex;
  z-index: 1000;
  background-color:white;
  transition: padding .2s ease-in;
}
.fixed{
  position:fixed;
  top: 0;
  width: 100%;
  left:0;
  padding: 1em 4em;
}

.imgtag{
  width: 12em;
  height: 3.5em;
}
.imgCont{
  display: flex;
    align-items: center;
}
  nav {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
  
    a{
      padding: 0.5em 1.5em;
      margin: 1em;
      font-size: 1em;
      color: black;
      position: relative;
      white-space: nowrap;
    }
  }
  .catCont{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
  }
  a{
    border-radius: 30px;
    text-align: center;
  }
  a:hover{
    text-decoration: none !important;
    background-color: $theme;
    color:white !important;
  }
  .anchorAct{
    background-color: $theme !important;
    color:white !important;
  }

.submenu{
  cursor: pointer;
  display: none;
  span{
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
   font-size:30px;
  }
  nav{
    align-items: stretch;
  }
}
.sideNav{
  display: flex;
  flex-direction: column;
  position:absolute;
  right: 20px;
  top: 4em;
  max-height:0em;
  background-color: white;
  transition: all 300ms ease-in;
  height:0px;
  overflow: auto;
  a{
    border-radius:0px;
  }
}
.mindropDown{
  display: flex;
  flex-direction: column;
  a{
    padding:0.5em;
    margin:0em;
    background-color: lightblue;
    color:black;
  }
  a:hover{
    background-color: $theme;
    color:white;
  }
}
.opener{
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 20em;
}
.enqtop{
  padding: 0 5em;
  border-top: 5px solid $theme;
  background-color: darkgrey;
  justify-content: center;
}
.bigMenu{
  height: 100%;
  display: flex;
  align-items: center;
}
i.dropsymbol {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 5px;
  top: 16px;
}
.white{
  color:white;
}
.navCont{
  position: relative;
  display: flex;
  flex-direction: column;
}
.dropDown{
    height: 0px;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    right: 0;
    top: 54px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.1s linear;
  a{
    margin:0;
    padding:.5em 1em;
  }
  a:hover{
    background-color: $theme;
    color:white;
  }
}
.anchorCont:hover ~ .dropDown{
  display: flex;
  height: 10em;
  overflow: auto;
  opacity:1;
}
.dropDown:hover{
  display: flex;
  height: 10em;
  overflow: auto;
  opacity:1; 
}

@media only screen and (max-width:960px){
  .bigMenu{
    display: none;
  }
  .submenu{
    display: block;
  }
  .enqtop{
    padding: 0 .5em;
  }
  .mainheader{
    padding: .5em 1em;
  }
  .navCont{
   a{
     margin: 0px;
   }
   .dropsymbol{
    right: 8px;
    top: 15px;
   }
  }
}