
<app-header #header  ></app-header>
<div #body class="container1"  [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
<router-outlet #o="outlet" ></router-outlet>
</div>
<section class="fotsec">
    <div class="row footer no-margin">
        <div class=" col-12 col-sm-6 col-md-3">
            <div class="footrcont">
                <div class="imgCont">
                    <img class="imgtag" src="../assets/images/logo.png">
                  </div>
                <br>
              <label><b>ADDRESS</b></label>
              <p class="no-margin">Pinnacle Marketing<br>
              MIG 150, Salim Rajan Road<br>
              Cochin-20</p>
              <br/>
              <label><b>TELEPHONE</b></label>
              <p class="no-margin">0484-2205488</p>
              <br/>
              <label><b>EMAIL</b></label>
              <p class="no-margin">pinnaclecochin@gmail.com</p>
              <br/>
              <span><span class="glyphicon glyphicon-globe"></span>--website here--</span>
            </div>
          </div>
          <div class="col-12 col-sm-5 col-md-9 row">
              <div class="col-sm-6 col-md-4">
                  <div class="footrcont">
                     <h5>Our Products</h5>
                     <hr/>
                    <ul class="no-padding" style="list-style-type: none;">
                      <li *ngFor="let item of ProductList"><a [routerLink]="['products/',item.redirecTo]">{{item.name}}</a></li>
                    </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4">
                  <div class="footrcont">
                      <h5>Useful Links</h5>
                      <hr/>
                      <p>Useful Links</p>
                  </div>
              </div>
              <div class="col-sm-7 col-md-4">
                  <div class="footrcont">
                      <h5>Quick Contact</h5>
                      <hr/>
                      <p>Quick contact details</p>
                  </div>
              </div>
          </div>
    </div>
  </section>