<div class="cont">
    <div class="imgCont">
      <img src="../../assets/images/product.png">
    </div>
    <h4>About US</h4>
    <hr />
    <br/>
    <p class="details"> We are a renowned wire mesh, net, grill importer and supplier based out in Kochi having a full fledged warehouse.

        Our products are acclaimed across the markets for the superior quality, robust construction and high tensile strength. In continuation with same philosophy and ethos we bring to you range of Aluminium and UPVC hardware products. These products are obtained from the trusted and reliable vendors, who make sure to manufacture these products by making use of the high grade machines and latest technological equipment to ensure the qualityassured productivity. Our vendors are well-versed with the current market demands and trends, thus they make sure to manufacture these products in accordance with the clients' requirements. 
        
        We also own a spacious warehousing unit to store our products in a well organised manner. These warehouses are supervised by a group of experts who ensure the safety and security of our products. Our professionals have an in-depth knowledge about their area of work, which helps them top perform in a meticulous and streamlined manner. We believe in delivering a peerless range of products at our customers' end as per the details specifications.
        
        with persistent efforts we have carved a niche in the market as a reliable and reputed supplier of wire mesh and other hardware products that are trendy , affordable and of high quality.
        
        We look forward working with you !
    </p>
</div>
