<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <div *ngFor="let item of Data" class="swiper-slide">
            <img [src]="item.imgurl" />
            <h4>{{item.name}}</h4>
            <button class="btn btn-primary" (click)="navigateTo(item.name)">Details</button>
        </div>
      </div>
    <!-- If we need pagination
    <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div #next class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
</div>