<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <div *ngFor="let item of ImageUrls" class="swiper-slide">
            <img [src]="item" />
            <button class="btn btn-primary">Details</button>
        </div>
      </div>
    <!-- If we need pagination
    <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div #next class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
</div>