.main{
  min-height: 25em;
  display: block;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;}

.imgCont{
  display: flex;
  flex-direction: row;
  height: 30em;
  align-items: center;
  justify-content: center;
  img{
    height: 100%;
    padding: 2em;
  }
}
.details{
  padding: .5em .75em;
}
.scrollContainer{
  width: 100%;
  overflow : auto;
  margin: 1em 5em 0em;
}
h3{
  padding: 0 3.5em;
}
.noproduct{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:40vh;
}
.specCont{
  padding: 2% 30%;
h4{
  width: 100%;
  text-align: center;
}}
  @media only screen and (max-width:960px){
    .specCont{
      padding:2%;}
      h3{
        padding: 0px 0.5em;
      }
  }