<h3 #scroller>{{product}}</h3>
<section  *ngIf="selectedProduct; else noProduct" class="main">
  <div class="container">
    <div class="scrollContainer">
        <div class="imgCont">
            <img *ngFor="let item of selectedProduct.imgUrls" [src]="item" [alt]="product">
        </div>
    </div>
          <div *ngIf="selectedProduct.specs" class="specCont row no-margin" >
            <h4>Product Specifications</h4>
              <div *ngFor="let pro of selectedProduct.specs" class="col-12 row details">
                <div style="text-align: right;font-size: 1.2em;" class="col-6">
                    <b>{{pro.name | titlecase}}</b>
                </div>
                <div style="text-align: left" class="col-6">
                    :{{pro.value}}
                  </div>
              </div>

          </div>
      </div>
</section>
<ng-template #noProduct>
<div class="noproduct">
 Product Named {{product}} is not present
</div>
</ng-template>

